body {
    margin: 0px;
    padding: 0px;
    color: #fff;
}

.modal-body p {
    color: #474343;
    font-size: 15px;
}
.image-holder {background:#fff;}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

    .navbar-default .navbar-nav > .active > a {
        color: #4e8b19;
        background-color: #fff;
    }

    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
        color: #4e8b19;
        background-color: transparent;
    }

    .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        color: #4e8b19;
        background-color: #fff;
    }

.nav > li > a {
    padding: 35px 31px;
    font-size: 15px;
    font-weight: bold;
}

.carousel-inner img {
    width: 100%;
}

.navbar-brand > img {
    width: 30%;
}

.navbar-brand {
    padding: 8px 15px 8px 15px;
    height: auto;
}

.space {
    margin-top: 100px;
}
.beyond_list {color:#000;}

.bg {
    background: #282a2e;
    padding-bottom: 57px;
    padding-top: 141px;
}

.trabg {
    background: #21A301;
    padding: 50px 30px 20px;
}

.digibg {
    background: #4e89a1;
    padding: 50px 30px 20px;
}

.evenbg {
    background: #c7b307;
    padding: 50px 30px 20px;
}

.byonbg {
    background: #c33118;
    padding: 50px 30px 20px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #282A2E;
    margin: 0px auto;
}

    .circle img {
        padding: 32px;
    }

.brand h3 {
    color: #fff;
}

.brand p {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.btn-block {
    text-align: center;
}

.btn {
    border-radius: 0px;
}

.btn-block p {
    color: #FFF;
    background: #2BB628 none repeat scroll 0% 0%;
    padding: 8px 69px;
    display: inline-block;
    font-size: 33px;
    box-shadow: 3px 5px 18px #262323;
    margin-bottom: -23px;
    position: relative;
    z-index: 1;
}

.btn-success {
    background-color: #21661A;
    border-color: #21661A;
    border-bottom: 3px solid #4e89a1;
}

.btn-primary {
    background-color: #0e5470;
    border-color: #0e5470;
    border-bottom: 3px solid #c7b307;
}

.btn-warning {
    background-color: #8f810d;
    border-color: #8f810d;
    border-bottom: 3px solid #c33118;
}

.btn-danger {
    background-color: #7d1f0f;
    border-color: #7d1f0f;
    border-bottom: 3px solid #4c910f;
}

.services {
    margin-top: -200px;
}

.about_bg {
    background: #4b3f34;
}

.event_bg {
    background: #282a2e;
}

.client_bg {
    background: #4b3f34;
}

.about {
    background: url(../images/about_img.png) no-repeat;
    background-size: cover;
    position: relative;
    padding: 162px 120px 101px;
}

.event {
    background: url(../images/event_bg.jpg) no-repeat;
    background-size: cover;
    position: relative;
    padding: 220px 120px 143px;
}

.client {
    background: url(../images/client_bg.jpg) no-repeat;
    background-size: cover;
    position: relative;
    padding: 144px 120px 143px;
}

.nop {
    padding: 0px;
}

.details {
    background: #4B3F34;
}

.about h1 {
    text-align: center;
    color: #FFF;
    font-size: 87px;
}

.about p {
    color: #fff;
    text-align: center;
    font-size: 24px;
}

.about hr {
    margin: 10px 65px;
    border-color: #fff;
}

.client h1 {
    text-align: center;
    color: #FFF;
    font-size: 87px;
}

.client p {
    color: #fff;
    text-align: center;
    font-size: 24px;
}

.client hr {
    margin: 10px 65px;
    color: #fff;
    border-color: #fff;
}

.event h1 {
    text-align: center;
    color: #FFF;
    font-size: 87px;
}

.event p {
    color: #fff;
    text-align: center;
    font-size: 24px;
}

.event hr {
    margin: 10px 65px;
    border-color: #fff;
}

.details p {
    color: #fff;
    padding: 10px;
    font-size: 15px;
}

.event_bg .details {
    background: #282a2e;
}

.event_bg .details {
    padding: 118px 87px 52px;
    
    min-height: 500px;
}

.client_bg .details {
    background: #4B3F34;
}

.client_bg .details {
    padding: 124px 87px 11px;
    min-height: 424px;
}
.details {
    padding: 78px 87px 50px;
}

.test_bg {
    background: #282a2e;
    padding-top: 50px;
}

.details .btn-danger {
    background-color: #63a125;
    border-color: #4d7e1d #4d7e1d #4d7e1d;
    border-bottom: 3px solid #8ad53f;
}

#basic-addon2 i {
    font-size: 38px;
    color: #fff;
    text-shadow: -2px 1px 2px #000;
    margin-bottom: 10px;
}

.footer_bg strong {
    color: #989898;
    font-size: 15px;
    line-height: 29px;
}

.news p span {
    text-transform: uppercase;
}

.news p {
    font-size: 43px;
    padding: 15px 10px;
}

.newslatter_bg {
    background: #4B3F34 none repeat scroll 0% 0%;
    padding: 24px 20px;
}

    .newslatter_bg .form-control {
        height: 52px;
        margin-top: 11px;
        box-shadow: -3px 0px 12px rgb(0, 0, 0);
    }

    .newslatter_bg .input-group-addon {
        box-shadow: -3px 0px 12px #000;
        cursor: pointer;
    }

.input-group-addon {
    background-color: #c33118;
    border: 1px solid #c33118;
    padding: 13px 15px;
}

.details .btn {
    border-radius: 4px;
    padding: 8px 33px;
    font-size: 17px;
}

.smalpad {
    padding: 5px;
}

.overlay .fa {
    padding: 17px;
}

.input-group-addon {
    display: block;
}

.input-group-addon {
    width: 20%;
    margin: 0 auto;
}

.input-group-sm > .input-group-addon {
    height: 65px;
}

#basic-addon2 {
    font-size: 16px;
    color: #fff;
}
/* CLIENT CAROUSEL STYLES */
.clients-carousel {
    /*SMALL TOP MARGIN FOR SPACE */
    padding: 0 30px 30px 30px;
}

    .clients-carousel .thumbnail {
        border: 1px solid #FF4D98;
    }

.client_bg .clients-carousel .carousel-control.left {
    height: 30px;
    width: 25px;
    margin-top: -35px;
    background: #F00 none repeat scroll 0% 0%;
    left: 98%;
    right: 18px;
}
.event_bg .carousel-control.left {
    height: 30px;
    width: 25px;
    margin-top: -35px;
    background: #F00 none repeat scroll 0% 0%;
    left: 98%;
    right: 18px;
}
/*.client_bg .carousel-control {
   
    top: 60%;
    
}*/
/* Carousel */

/* Carousel */

/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
	text-align:justify;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-left: -50px;
    font-size: 47px;
}
.item blockquote p:after {
       content: "\f10e";
    font-family: 'Fontawesome';
    float: right;
    margin-right: -50px;
    font-size:47px;
}




/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}
.clte {
    font-size: 16px;
    padding: 10px 70px;
    background: #282A2E none repeat scroll 0% 0%;
    display: inline-block;
    margin: 0px auto;
    position: absolute;
    left: 40%;
    text-transform: uppercase;
}

blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857;
    color: #a7c23a;
}

blockquote {
    font-size: 15.5px;
    color: #949494;
    padding-top: 50px;
}

.client_bg .clients-carousel .carousel-control.right {
    height: 30px;
    width: 25px;
    margin-top: -35px;
    background: #F00;
    right: -45px;
}
.event_bg .carousel-control.right {
    height: 30px;
    width: 25px;
    margin-top: -35px;
    background: #F00;
    right: -45px;
}
.clients-carousel img {
    width: 100%;
    height: 101px;
}

.border {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.bree {
    border-right: 1px solid rgb(255, 255, 255);
}

.thumbnail {
    margin-bottom: 0px;
}

.thumbnail {
    margin: 8px 0px;
}

.footer_bg {
    background:#4B3F34;
}

.footer_bg {
    padding: 50px;
}

    .footer_bg p {
       border-bottom: 2px solid rgb(99, 85, 73);
        font-size: 18px;
        text-transform: uppercase;
        padding-bottom: 8px;
    }

    .footer_bg textarea {
        display: block;
        width: 100%;
        height: 134px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857;
        color: #555;
        background-color: #222327;
        background-image: none;
        border: 1px solid #222327;
        border-radius: 4px;
        box-shadow: 2px 5px 0px #121214;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    }

.footer_stripbg {
    background: #000;
}

    .footer_stripbg p {
        margin: 0px;
        padding: 5px;
    }

    .footer_stripbg a:hover {
        color: #1FA300;
    }

.footer_bg .btn {
    padding: 6px 25px;
}

.footer_bg .btn-danger {
    background-color: #b81c44;
    border-color: #7D1F0F #7D1F0F #4C910F;
    border-bottom: 3px solid #1f937d;
}

.social_bg {
    background:#191818;
    padding: 73px 50px 0px;
}

.tera {
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 35px;
}

.des {
    font-size: 50px;
}

.social_bg nav {
    padding: 40px 0px;
}

    .social_bg nav ul {
        padding: 0px;
    }

        .social_bg nav ul li {
            list-style: none;
            display: inline-block;
            margin: 10px;
        }

            .social_bg nav ul li i {
                color: #4B3F34;
                font-size: 16px;
            }

.ff {
   padding: 8px 13px !important;
}

    .ff:hover {
        padding: 7px 12px !important;
    }

.social_bg nav ul li a {
    border-radius: 50%;
padding: 8px;
background: #FFF none repeat scroll 0% 0%;
border: 5px solid #B81C44;
}

    .social_bg nav ul li a:hover {
        border: 5px solid #282A2E;
        background: #b81c44;
        padding: 7px;
    }

        .social_bg nav ul li a:hover i {
            color: #282A2E;
        }

.clients-carousel {
    padding: 0px 0px 30px;
}

.green {
    background-color: #21661A;
    border-bottom: 3px solid #337ab7;
}

.blue {
    background-color: #0e5470;
    border-bottom: 3px solid #CADE5E;
}

.yellow {
    background-color: #ec971f;
    border-bottom: 3px solid #C31919;
}

.red {
    background-color: #c9302c;
    border-bottom: 3px solid #4c910f;
}

.green_footer {
    background-color: #2C7725;
    border-top: 3px solid #337ab7;
}

.blue_footer {
    background-color: #236884;
    border-top: 3px solid #CADE5E;
}

.yellow_footer {
    background-color: #D6963C;
    border-top: 3px solid #C31919;
}

.red_footer {
    background-color: #c9302c;
    border-top: 3px solid #4c910f;
}

#service {
    position: absolute;
    top: 92%;
}

@media (max-width:767px) {
.input-group-addon {
    width: 86%;
    margin: 0px auto;
}
.event_bg .carousel-control.left {
    left: 78%;
}
.event_bg .carousel-control.right {right: 5px;}
.clients-carousel img {
    width: 100%;
    height: auto;
}

    #portfolio .work-item .image-holder img {
        width: 100%;
        height: auto;
    }

    header.smaller li a {
        padding: 9px 31px !important;
    }

    #service {
        position: absolute;
        top: 30%;
    }

    .about h1 {
        font-size: 65px;
    }

    .event h1 {
        font-size: 65px;
    }

    .client h1 {
        font-size: 65px;
    }

    .about {
        padding: 35px 60px;
    }

    .event {
        padding: 9px 60px;
    }

    .details {
        padding: 60px 21px;
    }

    .event_bg .details {
        padding: 79px 21px;
    }

    #portfolio .filters li {
        padding: 3px 8px;
        font-size: 13px;
    }

    #portfolio .filters li {
        margin-bottom: 2px;
    }

    .client {
        padding: 40px 20px;
    }

    .client_bg .details {
        padding: 66px 7px 1px;
    }

    .client_bg .clients-carousel .carousel-control.right {
        right: 0%;
    }

    .client_bg .clients-carousel .carousel-control.left {
        left: 78%;
    }

    .clte {
        font-size: 15px;
        padding: 0px 5px;
        margin: -10px auto;
        left: 28%;
    }

    .item blockquote p:before {
        font-size: 50px;
        margin-left: -11px;
        margin-top: -12px;
    }

    .item blockquote p:after {
        font-size: 50px;
        margin-right: -13px;
        margin-top: 20px;
    }

    .news p {
        font-size: 39px;
        line-height: 42px;
        text-align: center;
    }

    .input-group-addon {
        padding: 13px 12px;
    }

    #basic-addon2 i {
        font-size: 32px;
    }

    .newslatter_bg .form-control {
        margin-top: 4px;
        box-shadow: -1px 0px 1px #000;
    }

    .newslatter_bg .input-group-addon {
        box-shadow: -1px 0px 1px #000;
    }

    .social_bg {
        background: #4B3F34 none repeat scroll 0% 0%;
        padding: 73px 11px 0px;
    }

    .tera {
        font-size: 28px;
        margin-bottom: 11px;
    }

    .social_bg nav {
        padding: 15px 0px;
    }

    .des {
        font-size: 29px;
    }

    .footer_bg {
        padding: 24px 2px;
    }

        .footer_bg .form-control {
            margin-bottom: 10px;
        }

    .navbar-brand > img {
        width: 34px !important;
        padding: 1px;
        margin-left: 9px !important;
    }

    .nav > li > a {
        padding: 8px 31px;
        font-size: 15px;
        font-weight: bold;
    }

    .space {
        margin-top: 67px;
    }

    .services {
        margin-top: 5px;
    }

    .btn-block p {
        font-size: 19px;
        background: #0E5470 none repeat scroll 0% 0%;
    }

    .bg {
        padding-top: 0px;
    }
}

@media (min-width:768px) and (max-width:980px) {
.input-group-addon {
    width: 34%;
    margin: 0px auto;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -19px;
}
.event_bg .carousel-control.left {
    height: 30px;
    width: 25px;
    margin-top: -35px;
    background: #F00 none repeat scroll 0% 0%;
    left: 83%;
    right: 18px;
}
.event_bg .carousel-control.right {
    height: 30px;
    width: 25px;
    margin-top: -35px;
    background: #F00 none repeat scroll 0% 0%;
    right: 5px;
}
    #contact {
        padding-top: 74px;
    }

    header.smaller li a {
        padding: 30px 13px !important;
    }

    header.smaller img {
        width: 60px !important;
    }

    .container {
        width: 717px;
    }

    #service {
        position: absolute;
        top: 25%;
    }

    .nav > li > a {
        padding: 34px 13px;
    }

    .navbar-brand > img {
        width: 67px;
        margin-left: 22px;
    }

    .circle {
        width: 70px;
        height: 70px;
    }

        .circle img {
            padding: 19px;
        }

    .brand h3 {
        font-size: 16px;
    }

    .trabg {
        padding: 33px 0px 20px;
    }

    .digibg {
        padding: 33px 0px 20px;
    }

    .evenbg {
        padding: 33px 0px 20px;
    }

    .byonbg {
        padding: 33px 0px 20px;
    }

    .btn-block p {
        font-size: 19px;
    }

    .about {
        padding: 115px 8px;
        min-height: 544px;
    }

    .details {
          padding: 83px 21px 59px;

    }

    .brand p {
        line-height: 19px;
    }

    .about p {
        font-size: 23px;
    }

    .event {
        padding: 115px 20px;
        min-height: 425px;
    }

    .event_bg .details {
        padding: 88px 38px;
        min-height:425px;
    }

    .client {
        padding: 122px 20px;
    }

    .client_bg .details {
        padding: 96px 2px 1px;
        min-height: 382px;
    }

    .clients-carousel img {
        width: 100%;
        height: 78px;
    }

    .client_bg .carousel-control {
        top: 110%;
    }

    .client_bg .clients-carousel .carousel-control.left {
        left: 80%;
    }

    .client_bg .clients-carousel .carousel-control.right {
        right: 30px;
    }

    .item blockquote p::after {
        margin-right: -121px;
    }

    .item blockquote p::before {
        margin-left: -121px;
    }

    .clte {
        left: 30%;
        margin-top: -20px;
    }

    .clients-carousel {
        padding: 0px 23px 30px;
    }
}

@media(min-width:981px) and (max-width:1024px) {
    #service;

{
    position: absolute;
    top: 61%;
}

header.smaller li a {
    padding: 32px 31px !important;
}

.brand h3 {
    color: #FFF;
    font-size: 19px;
}

.about {
    min-height: 531px;
}

.about {
    padding: 162px 50px 101px;
}

.event {
    padding: 250px 64px 221px;
}

.navbar-brand > img {
    width: 65px !important;
    margin-left: 50px;
}

.clients-carousel {
    padding: 0px 0px 30px;
}

.client_bg .details {
    padding: 100px 24px 1px;
    min-height: 425px;
}

.client_bg .clients-carousel .carousel-control.left {
    left: 88%;
}

.item blockquote p::after {
    margin-right: -97px;
}

.client_bg .carousel-control {
    top: 104%;
}

.client {
    padding: 144px 50px 143px;
}

.client_bg .clients-carousel .carousel-control.right {
    right: 0px;
}

}
/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */


/* =Template
-------------------------------------------------------------- */



section h1 {
    font-weight: 700;
    margin-bottom: 10px;
}



/* =Info Bar
-------------------------------------------------------------- */

/* =Header
-------------------------------------------------------------- */
header.smaller li a {
    padding: 20px 31px;
}

header h1#logo {
    display: inline-block;
    height: 150px;
    line-height: 150px;
    float: left;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    color: white;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header nav {
    display: inline-block;
    float: right;
}

    header nav a {
        line-height: 150px;
        margin-left: 20px;
        color: #9fdbfc;
        font-weight: 700;
        font-size: 18px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

        header nav a:hover {
            color: white;
        }

header.smaller {
    height: 75px;
}

    header.smaller h1#logo {
        width: 150px;
        height: 75px;
        line-height: 75px;
        font-size: 30px;
    }

    header.smaller img {
        width: 17%;
    }

/* =Footer
-------------------------------------------------------------- */
/* =Extras
-------------------------------------------------------------- */
.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 660px) {
    /* =Header
  -------------------------------------------------------------- */
    header h1#logo {
        display: block;
        float: none;
        margin: 0 auto;
        height: 100px;
        line-height: 100px;
    }

    header nav a {
        line-height: 50px;
        margin: 0 10px;
    }

    header.smaller {
        height: 75px;
    }

        header.smaller h1#logo {
            height: 40px;
            line-height: 40px;
            font-size: 30px;
        }

    @media all and (max-width: 600px) {
        .container {
            width: 100%;
        }

        #info-bar a {
            display: block;
        }

        #info-bar span.all-tutorials,
        #info-bar span.back-to-tutorial {
            width: 100%;
        }

        #info-bar span.all-tutorials,
        #info-bar span.back-to-tutorial {
            float: none;
            text-align: center;
        }

        #info-bar span.all-tutorials {
            border-bottom: solid 1px #0793e2;
        }
    }

    .bottomline {
        padding-bottom:10px !important;
    }
